@font-face
{
    font-family: StampyBird;
    src: url(../src/font/DJBAlmostPerfect.ttf);
}

*{
	box-sizing: border-box;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

*:focus {
    outline: none;
}

input, select, textarea, button
{
	font-family:inherit;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: StampyBird;
}

html
{
	background: url(../src/img/beach-bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

canvas#main-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.uiscreen
{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
	display: none;
}

.readysetgoscreen
{
	h1
	{
		font-size: 15rem;
		display: none;
		text-align: center;
	}
	h1:nth-child(1)
	{
		color: #D6212A;
	}
	h1:nth-child(2)
	{
		color: #E5AB05;
	}
	h1:nth-child(3)
	{
		color: #8EC63F;
	}
}

.homescreen
{

	.logo-container
	{
		width: 100%;
		display: block;
		padding-top: 2rem;

		.logo
		{
		    display:block;
		    width: 45%;
		    margin: auto;
			-moz-user-select: none;
			-khtml-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}

	.options-container
	{
		display: inline-flex;
		justify-content: space-around;
		width: 100%;
		padding-top: 2rem;

		.option
		{
			background-color: white;
			border-radius: 6px;
			width: 15rem;
			border-right: 5px solid #125C71;
			border-bottom:  5px solid #125C71;

			h1
			{
				text-align: center;
				font-size: 3rem;
				cursor: pointer;
				margin:0;
			}
		}

		.option:active
		{
			background-color: #125C71;

			h1
			{
				color: white !important;
			}
		}

		.option:nth-child(1) h1
		{
			color: #D6212A;
		}

		.option:nth-child(2) h1
		{
			color: #E5AB05;
		}

		.option:nth-child(3) h1
		{
			color: #8EC63F;
		}
	}
}

#hint-screen
{
	position: fixed;
	top: 2rem;
	left: 0;
	width: 100%;
	text-align: center;
	display: none;
	z-index: -1;

	h1
	{
		font-size: 4rem;
		color: #125C71;
	}
}

#score-container
{
	position: fixed;
	top: 0;
	left: 3rem;
	margin: 0;
	display: none;

	h1
	{
		font-size: 4rem;
		color: #125C71;
	}
}

#promptsavescore-container
{
	position: fixed;
	top: 7rem;
	left: 0;
	width: 100%;
	text-align: center;
	display: none;
	z-index: 10;

	h1
	{
		font-size: 4rem;
		color: #125C71;
	}

	.playername
	{
		display: block;
		width: 50%;
		margin: 0 auto;
		margin-top: 3rem;
		color: #125C71;
		background-color: white;
		height: 5rem;
		border-radius: 6px;
		border:none;
		font-size: 3rem;
		text-align: center;
	}

	.options-container
	{
		display: inline-flex;
		justify-content: space-around;
		width: 50%;
		padding-top: 2rem;

		.option
		{
			background-color: white;
			border-radius: 6px;
			width: 15rem;
			border-right: 5px solid #125C71;
			border-bottom:  5px solid #125C71;

			h1
			{
				text-align: center;
				font-size: 3rem;
				cursor: pointer;
				margin:0;
			}
		}

		.option:active
		{
			background-color: #125C71;

			h1
			{
				color: white !important;
			}
		}
	}
}